

<div class="edit-entry">



  <div class="base-form edit-entry-content ">

    <p class="title">Change amount</p>
    <%= form_for(@entry, :url => :update_entry) do |f| %>

      <%= f.hidden_field :id, :value => @entry.id %>
      <%= f.hidden_field :day, :value => @entry.day %>
      <div class="field">
        <%= f.label :amount, "Amount:" %>
        <%= f.number_field :amount %>
      </div>

      <div class="actions">
        <div class="button-set">
          <%= f.submit "Update", :class => "button-green update-button" %>
            <%= link_to "Cancel", diary_url(:curr_day => @entry.day),   :class => "button-red cancel-button" %>
        </div>

      </div>
    <% end %>

  </div>
</div>
