<p id="notice"><%= notice %></p>

<h2>Entries</h2>

<% if !current_user.entries.empty? %>
  <% @user = current_user %>
  <% @user.entries.each do |entry| %>

    <p>
      <strong>ID</strong>
      <%= entry.id %>
    </p>
    <p>
      <strong>Food</strong>
      <%= entry.food_id %><br>
      <%= @foods.find_by_id(entry.food_id).name %>
    </p>
    <p>
      <strong>Amount</strong>
      <%= entry.amount %>
    </p>
    <p>
      <strong>Day</strong>
      <%= entry.day %>
    </p>
    <p>
      <strong>Meal</strong>
      <%= entry.meal %>
    </p>
    <p><%= link_to 'Destroy', remove_entry_url(entry), method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <% end %>


<% end %>
