<% @user = current_user %>

<%= form_for(@user, :url => :update_macros) do |f| %>

  <table>

    <tr>
      <div class="field">
        <td><%= f.label :calorie_goal, "Calories" %></td>
        <td><%= f.number_field :calorie_goal %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :carb_goal, "Carbs" %></td>
        <td><%= f.number_field :carb_goal %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :protein_goal, "Protein" %></td>
        <td><%= f.number_field :protein_goal %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :fat_goal, "Fat" %></td>
        <td><%= f.number_field :fat_goal%> </td>
      </div>
    </tr>

  </table>

  <div class="actions">
    <div class="button-set">
      <%= f.submit "Update", :class => "button-green update-button" %>
      <%= link_to "Cancel", user_url(current_user),   :class => "button-green cancel-button" %>
    </div>

  </div>



<% end %>
