
<p id="notice"><%= notice %></p>

<h2>Set Up Your Profile</h2>


<%# @user = User.find(params[:id]) %>
cuurent user is <%= @current_user.name %>
<% if true %>
<div class="field">
  <%= current_user.label :weight %><br>
  <%= current_user.text_field :weight %>
</div>
<div class="field">
  <%= current_user.label :height %><br>
  <%= current_user.text_field :height %>
</div>
<div class="field">
  <%= current_user.label :age %><br>
  <%= current_user.number_field :age %>
</div>
<div class="field">
  <%= current_user.label :activity_level %><br>
  <%= current_user.number_field :activity_level %>
</div>
<div class="field">
  <%= current_user.label :goal %><br>
  <%= current_user.number_field :goal %>
</div>
<div class="actions">
  <%= current_user.submit %>
</div>
<% end %>
