<p id="notice"><%= notice %></p>

<div class="profile-form">

  <table class="macros-tab">
    <tr class="top-row">
      <td class="calories">
        <span>Calories</span>
      </td>
      <td>
        Carbs
      </td>
      <td>
        Protein
      </td>
      <td>
        Fat
      </td>
    </tr>
    <tr class="bottom-row">
      <td class="calories">
        <% if current_user.calorie_goal > 0 %>
          <%=current_user.calorie_goal%>
        <% end %>
      </td>
      <td class="carb">
        <% if current_user.carb_goal > 0 %>
          <%=current_user.carb_goal%>
        <% end %>
      </td>
      <td class="protein">
        <% if current_user.protein_goal > 0 %>
          <%=current_user.protein_goal%>
        <% end %>
      </td>
      <td class="fat">
        <% if current_user.fat_goal > 0 %>
          <% if current_user.fat_goal < 100 %>
            <span style="margin-left:-30px"><%=current_user.fat_goal%></span>
          <% else %>
            <span style="margin-left:-45px"><%=current_user.fat_goal%></span>
          <% end %>
        <% end %>
      </td>
    </tr>

  </table>

  <div class="profile-tab">

    <p class="secondary-title"><%= current_user.username.capitalize %></p>
    <!-- <p class="title username"><%= current_user.username.capitalize %> </p> -->

    <table>

      <tr>
        <div class="field">
          <td><strong>Weight:</strong></td>
          <td><%= current_user.weight %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><strong>Height:</strong></td>
          <td><%= current_user.height %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><strong>Age:</strong></td>
          <td><%= current_user.age %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><strong>Sex:</strong></td>
          <td>
            <%= User::SEX.key(current_user.sex) %>
          </td>
        </div>
      </tr>
      <% if current_user.bodyfat %>
        <tr>
          <div class="field">
            <td><strong>Bodyfat:</strong></td>
            <td><%= current_user.bodyfat %></td>
          </div>
        </tr>
      <% end %>
      <tr>
        <div class="field">
          <td><strong>BMR:</strong></td>
          <td><%= current_user.bmr %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><strong>TDEE:</strong></td>
          <td><%= current_user.tdee %></td>
        </div>
      </tr>

      <tr>
        <div class="field">
          <td><strong>Activity level:</strong></td>
          <td><%= User::ACTIVITY.key(current_user.activity_level) %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><strong>Goal:</strong></td>
          <td><%= User::GOAL.key(current_user.goal) %></td>
        </div>
      </tr>
    </table>

    <div class="actions">
      <div class="button-set">
        <p>
        <%= link_to 'Edit', edit_user_path(current_user), :class => "button edit-button" %>
        <%= link_to 'Set macros', edit_user_path(current_user), :class => "button macros-button" %></p>
        <p><%= link_to 'Delete profile', current_user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button delete-button" %></p>
      </div>

    </div>
  </div>



</div>
