<!-- <p id="notice"><%= notice %></p> -->

<div class="foods-content row">

  <div class="base-form side-menu">
    <ul class="food-groups">
      <% @food_categories.each do |category| %>
        <li class="<%="#{Food::CATEGORIES[category]}"%>" data-content=".<%= "#{Food::CATEGORIES[category]}-content"%>">  <%="#{category}"%>  </li>
      <% end %>
    </ul>
  </div>

  <div class="base-form main-form">
      <%#= "Day selected is #{params[:day_selected]} and meal is #{params}"  %>

      <%= link_to "Create new product", new_food_path, :class => "new-food-btn button-green" %>
      <% @food_categories.each do |cat| %>

        <div class="<%="#{Food::CATEGORIES[cat]}-content"%>">
          <p class="main-title"><%= cat %></p>
          <ul class="foods">

            <% @foods.where(category: "#{Food::CATEGORIES[cat]}").order(name: :asc).find_each do |food| %>



              <%= form_for([current_user, current_user.entries.build]) do |f| %>

                <%= f.hidden_field :food_id, :value => food.id %>
                <%= f.hidden_field :day, :value => params[:day_selected] ? params[:day_selected] : @current_weekday %>
                <%= f.hidden_field :meal, :value => params[:meal_selected] ? params[:meal_selected] : @current_meal %>

              <li class="group">



                <div class="food-field">

                  <div class="food-modal">
                    <div class="food-content food-form">
                      <% if food.added_by == current_user.id %>
                        <%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button-red delete-button" %>
                      <% end %>

                      <p class="food-title"><%= food.name %></p>
                      <table>
                        <tr>
                        <tr>
                          <td><%= "Category:" %></td>
                          <td class="name" colspan="3"><%= Food::CATEGORIES.key(food.category) %></td>
                        </tr>
                        <tr>
                          <td><%= "Calories:" %></td>
                          <td><%= "#{food.calories}" %></td>

                          <td><%= "Portion:" %></td>
                          <td><%= food.portion %></td>
                        </tr>

                        <tr>
                          <td><%= "Fat:" %></td>
                          <td><%= "#{food.fat}g" %></td>

                          <td><%= "Carbs:" %></td>
                          <td><%= "#{food.carb}g" %></td>
                        </tr>
                        <tr>
                          <td><%= "Protein:" %></td>
                          <td><%= "#{food.protein}g" %></td>

                          <td><%= "Fiber:" %></td>
                          <td><%= "#{food.fiber}g" %></td>
                        </tr>
                        <tr>
                          <td><%= "Sugar:" %></td>
                          <td><%= "#{food.sugar}g" %></td>
                          <td><%= "Sodium:" %></td>
                          <td><%= "#{food.sodium}mg" %></td>

                        <tr>
                        <tr>
                          <td><%= "Cholesterol:" %></td>
                          <td><%= "#{food.cholesterol}mg" %></td>
                          <td><%= "Potassium:" %></td>
                          <td><%= "#{food.potassium}mg" %></td>

                        <tr>
                        <tr>
                          <td><%= "Saturated fat:" %></td>
                          <td><%= "#{food.saturated_fat}g" %></td>
                          <td><%= "Monounsaturated fat:" %></td>
                          <td><%= "#{food.monounsaturated_fat}g" %></td>

                        <tr>
                        <tr>
                          <td><%= "Polyunsaturated fat:" %></td>
                          <td><%= "#{food.polyunsaturated_fat}g" %></td>
                          <td><%= "Trans fat:" %></td>
                          <td><%= "#{food.trans_fat}g" %></td>

                        <tr>
                      </table>
                      <div class="actions">
                        <% if food.added_by == current_user.id %>
                          <%= link_to "Edit", edit_food_path(food), :class => "button-green accept-button"%>
                        <% end %>
                        <a href="" class="button-red cancel-button close-food-modal">Cancel</a>

                      </div>
                    </div>
                  </div>
                  <%= "#{food.name}, "%><span class="small"><%="#{food.portion}"%></span>
                  <span class="nutrition">
                    <span class="cals>"><%="#{food.calories}"%></span><span class="small">cals</span>
                    <span class="macros">
                      <table class="macros-table">
                        <tr>
                          <td>
                            <span>C:</span>
                          </td>
                          <td>
                            <span><%="#{food.carb == food.carb.round ? food.carb.round : food.carb}"%></span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>P:</span>
                          </td>
                          <td>
                            <span><%="#{food.protein == food.protein.round ? food.protein.round : food.protein}"%></span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span>F:</span>
                          </td>
                          <td>
                            <span><%="#{food.fat == food.fat.round ? food.fat.round : food.fat}"%></span>
                          </td>
                        </tr>

                      </table>

                    </span>
                  </span>
                </div>

                <%= f.text_field :amount, :class => "input-amount", placeholder: "x#{food.portion}" %>

                <%= f.submit "Add", :class => "add-btn" %>

              </li>
              <% end %>

            <% end %>


          </ul>
        </div>
      <% end %>

  </div>

</div>


<script src="<%= asset_path 'foodscript.js'%>"></script>
