<!DOCTYPE html>
<html>
<head>
  <title>Fitit</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="base">
      <div class="logo">
        <a href="#"><img id="logo_img" src="<%= asset_path 'logo.png' %>"></a>
      </div>
        <div class="nav">
          <ul>
            <% if current_user %>
              <li><%= link_to "Home", edit_user_path(current_user), {:class => "profile"} %></li>
              <li><%= link_to "Diary", diary_url, {:class => "diary"} %></li>
              <li><%= link_to "Foods", foods_path, {:class => "foods"} %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), {:class => "about", :class => "last"} %></li>
            <% else %>
            <% if false %>
              <li><%= link_to "Foods", foods_path, {:class => "foods"} %></li>
              <li><%= link_to "About", diary_url, {:class => "about", :class => "last"} %></li>
              <% end %>
            <% end %>

            <% if false %>

            <li><a href="#" class="homepage">Home</a></li>
            <li><a href="#" class="diary">Diary</a></li>
            <li><a href="#" class="foods">Foods</a></li>
            <li><a href="#" class="settings">Settings</a></li>

            <% end %>
          </ul>
        </div>

      <div class="nav session">
        <ul>
          <% if current_user %>
            <li><%= link_to "Log Out", logout_path, {:class => "last"} %></a></li>
          <% else %>
            <li><%= link_to "Log In", login_path %></li>
            <li><%= link_to "Sign Up", signup_path, {:class => "last"} %></li>
          <% end %>
        </ul>
      </div>
  </header>

<%= yield %>

  <footer class="base">
      <p class="footer-info">This website was created by a student of Wroclaw University of Technology.&emsp;<a href="#">Contacts</a></p>
      <p class="footer-license">Copyright &copy; 2016 FitIt, Inc.</p>
  </footer>

</body>
</html>
