<!DOCTYPE html>
<html>
<head>
  <title>Fitit</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="base">
      <div class="logo">
        <a href="#"><img id="logo_img" src="<%= asset_path 'logo.png' %>"></a>
      </div>
        <div class="nav">
          <ul>
            <% if current_user %>
              <li><%= link_to "Home", homepage_url, {:class => "home"} %></li>
              <li><%= link_to "Diary", diary_url, {:class => "diary"} %></li>
              <li><%= link_to "Foods", foods_path, {:class => "foods"} %></li>
              <li><%= link_to "Settings", edit_user_path(current_user), {:class => "settings", :class => "last"} %></li>
            <% end %>

          </ul>
        </div>

      <div class="nav session">
        <ul>
          <% if current_user %>
            <li><%= link_to "Log Out", logout_path, {:class => "last"} %></a></li>
          <% else %>
            <li><%= link_to "Log In", login_path %></li>
            <li><%= link_to "Sign Up", signup_path, {:class => "last"} %></li>
          <% end %>
        </ul>
      </div>
  </header>
  <% if current_user %>
    Current user: <%= current_user.username %> 
  <% end %>
  <%= yield %>

  <!-- <footer class="base">
      <p class="footer-info">This website was created by a student of Wroclaw University of Technology.&emsp;<a href="#">Contacts</a></p>
      <p class="footer-license">Copyright &copy; 2016 FitIt, Inc.</p>
  </footer> -->

</body>
</html>
